footer {
  text-align: center;
  background-color: $navbar;
  padding: 70px 0px;
  
  .primary-button {
	  margin-bottom: 30px;
  }
  
	p {
	  font-size: 12px;
	  color: #fff;
	  margin-top: 15px;
	  color: #fff;
	  letter-spacing: 0.5px;
	  margin-bottom: 0px;
	}
	
	em {
	  color: #ff8e43;
	  font-weight: 600;
	  font-style: normal;
	}
  
   ul {
	  padding: 0px;
	  margin: 0px;
	  list-style: none;
	  
	   li {
		  display: inline-block;
		  margin: 0px 4px;
		  
		  a {
			  width: 40px;
			  height: 40px;
			  line-height: 40px;
			  text-align: center;
			  display: inline-block;
			  background-color: #ff7d27;
			  color: #282b2f;
			  border-radius: 50%;
			  text-decoration: none;
			  transition: all 0.5s;
			  font-size: 17px;
			}
			a:hover {
			  color: #282b2f;
			  background-color: #ff8e43;
			}
		  
		} 
	  
	}
  
}




/* footer .primary-button {
  margin-bottom: 30px;
}

footer ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

footer ul li {
  display: inline-block;
  margin: 0px 4px;
}

footer ul li a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  background-color: #ff7d27;
  color: #282b2f;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.5s;
  font-size: 17px;
}

footer ul li a:hover {
  color: #282b2f;
  background-color: #ff8e43;
}

footer p {
  font-size: 12px;
  color: #fff;
  margin-top: 15px;
  color: #fff;
  letter-spacing: 0.5px;
  margin-bottom: 0px;
}

footer em {
  color: #ff8e43;
  font-weight: 600;
  font-style: normal;
} */